.row-center {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 80px !important;
    align-items: center;
    justify-content: center;
}

.column-center {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    gap: 24px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.small-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.flex-box-slider {
    display: flex;
    align-items: center;
    gap: 32px; 
    flex-direction: column;

    @media (min-width: 900px) { 
      flex-direction: row;
    }
}