.row-center {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 100px !important;
    align-items: center;
    justify-content: center;
}

.column-center {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    gap: 24px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.small-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.flex-box-slider {
    display: flex;
    align-items: center;
    gap: 32px; 
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 900px) { 
      flex-direction: row;
    }
}

.maxwidth-paragraph {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 900px) {
    .maxwidth-paragraph {
        max-width: 640px; 
    }
}

.overlay-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-align: center;
}