.row-center {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.column-center {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    gap: 26px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.column-typography {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
}

.small-column-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 16px 12px;
    max-width: 300px;
    gap: 16px;
}

.small-column-center img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}


.flex-box-slider {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 900px) {
        flex-direction: row;
    }
}

.flex-box-normal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 48px;

    @media (min-width: 900px) {
        flex-direction: row;
    }
}

.stack-row-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.overlay-content {
    position: relative;
    bottom: 70px;
    left: 0;
    right: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 16px;
    padding: 10px 0px;
    min-height: 180px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    ;
}

