.row-center {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 100px !important;
    align-items: center;
    justify-content: center;
}

.column-center {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    gap: 24px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.small-column-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 317px;
    margin-left: auto;
    margin-right: auto;
}

.small-column-center img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}


.flex-box-slider {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 900px) {
        flex-direction: row;
    }
}

.overlay-content {
    position: relative;
    bottom: 70px;
    left: 0;
    right: 0;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 180px;
}

.Stack-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center;
    margin-top: 32px;
    gap: 32px;
}